.category{
    padding: 2em;
}

.category > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.category > ul > li {
    padding: 1em;
    cursor: pointer;
}

.active{
    background-color: aqua;
}